body {
    background-color: #F7E49B;
}
h1 {
    text-align: center;
    color: black;
}

p {
    text-align: center;
}
.croissant-photo {
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
  }
  
footer a {
    color: green;
    margin: 0 10px;

}
footer {
    text-align: center;
}