body {
    background-color: #F7E49B;
}
h1 {
    text-align: center;
    color: black;
}
p {
    display: block;
    text-align: center;
}
a {
    color: green;
    text-decoration: underline;
    display: inline-block;
    text-align: center;

}